:root {
    --color-pallete-red: #a80000;
    --color-pallete-dark-red: #731010;
    --color-pallete-dark-grey: #101010;
    --color-pallete-grey: #707070;
    --color-pallete-darkish-grey: #303030;
    --color-pallete-light-grey: #d4d4d4;

    --mobile-style-width: 1000px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-pallete-light-grey);
    font-family: monospace;
}

::selection {
    background-color: var(--color-pallete-red);
}

a {
    text-decoration: none;
    font-style: italic;
    color: #a80000;
}
a:visited {
    color: #a80000;
}

a:hover::before{
    content: "\\ ";
} a:hover::after{
    content: " /";
}

html {
    background-color: var(--color-pallete-dark-grey);
}

body {
    text-align: center;
}

#header {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#content {
    background-color: var(--color-pallete-dark-grey);
}

#footer {
    background-color: black;
    height: 20vh;
}

#fader {
    height: 150px;
    background-color: var(--color-pallete-red);
    background: linear-gradient(180deg, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
    display: block;
}

#fader-reverse {
    height: 150px;
    background-color: var(--color-pallete-red);
    background: linear-gradient(180deg, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%);
    display: block;
}

/* CONTENT */

.content-title {
    padding: 30px 0 30px 0;
    font-family: monospace;
}

.content-break {
    width: 70vw;
    height: 2px;
    border-color: var(--color-pallete-red);
    margin: auto;
    margin-bottom: 30px;
}

@media (max-width: 1000px)
{
    .content-break {
        width: 90vw;
    }
}

/* ABOUT ME SECTION */

#aboutme {
    width: 100%;
}

.aboutme-box {
    display: flex;
    margin: auto;
    max-width: 1000px;
    overflow: hidden;
} 
.aboutme-box img {
    height: auto;
    width: auto;
    /* border-radius: 15%; */
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 1%;
    border-bottom-left-radius: 1%;
    border: var(--color-pallete-dark-red) solid 2px;
} .aboutme-box p {
    text-align: left;
    font-size: larger;
} .aboutme-box h2 {
    text-align: left;
    margin-bottom: 20px;
    font-size: xx-large;
}
.aboutme-box-left {
    margin-right: 30px;
}
.aboutme-box-left img {
    height: auto;
    width: 100%;
}

.aboutme-box-right {
    width: 100%;
}

/*Mobile*/
@media (max-width: 1000px)
{
    .aboutme-box {
        display: block;
        margin: 0 30px 0 30px;
    }
    .aboutme-box-left {
        margin: 0 10px 0 10px;
    }
}

/* PROJECTS SECTION */
#projects {
    width: 100%;
}

.projects-box {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 70%;
    
}  .projects-box .card {
    margin: auto;
    padding-bottom: 30px;
}

@media (max-width: 1000px)
{
    .projects-box {
        display: block;
        margin: 0 30px 0 30px;
    } .projects-box .card {
        margin: auto;
        padding: 20px 0 20px 0;
    }
}

/* Cards */
.card {
    width: 350px;
    height: 550px;
} .card .upper {
    width: auto;
    height: 60%;
    background-color: var(--color-pallete-grey);
    border-bottom: var(--color-pallete-red) solid 4px;
    border-top-right-radius: 10%;
    border-top-left-radius: 1%;
} .card .lower {
    background-color: var(--color-pallete-darkish-grey);
    height: 40%;
    width: auto;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 1%;
}